@model IList<CustomProductViewModel>
<!-- slider Section -->
<section id="slider" class="slider-element swiper_wrapper min-vh-75 bg-color" data-loop="true">

	<div class="swiper swiper-parent">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="container">
					<div class="position-absolute pos-y-end mb-3 row w-100 col-mb-30">
						@for (int i = 0; i < 3; i++)
						{
							<div class="col-md-auto col-10 ts">
								<a asp-action="Details" asp-route-id="@Model[i].Id" class="card d-flex flex-row" data-animate="fadeInLeft" data-delay="200 * @i">
									<img src="@Model[i].MainImageUrl" width="100" height="100" alt="Image" class="rounded-start">
									<div class="card-body px-4">
										<h4 class="mb-2 text-white fw-medium">@Model[i].Title</h4>
										<h4 class="mb-0 h6 text-white fw-normal font-body d-flex">$@Model[i].Price <i class="bi-arrow-right ms-auto"></i></h4>
									</div>
								</a>
							</div>
						}
					</div>
				</div>
				<div class="swiper-slide-bg" style="background-image: linear-gradient(to bottom, transparent, rgba(25, 53, 50, .9)), url('/assets/customer/images/Slidebar/1/slide.jpg');"></div>
			</div>

			<div class="swiper-slide">
				<div class="container">
					<div class="position-absolute pos-y-end mb-3 row justify-content-lg-end w-100 col-mb-30">
						@for (int i = 3; i < 5; i++)
						{
							<div class="col-md-auto col-10 ts">
								<a asp-action="Details" asp-route-id="@Model[i].Id" class="card d-flex flex-row" data-animate="fadeInLeft" data-delay="400">
									<img src="@Model[i].MainImageUrl" width="100" height="100" alt="Image" class="rounded-start">
									<div class="card-body px-4">
										<h4 class="mb-2 text-white fw-medium">@Model[i].Title</h4>
										<h4 class="mb-0 h6 text-white fw-normal font-body d-flex">$@Model[i].Price <i class="bi-arrow-right ms-auto"></i></h4>
									</div>
								</a>
							</div>
						}
					</div>
				</div>
				<div class="swiper-slide-bg" style="background-image: linear-gradient(to bottom, transparent, rgba(25, 53, 50, .9)), url('/assets/customer/images/Slidebar/2/slide.jpg');"></div>
			</div>

			<div class="swiper-slide dark">
				<div class="container">
					<div class="position-absolute pos-y-end mb-3 row justify-content-lg-center w-100 col-mb-30">
						@for (int i = 5; i < 8; i++)
						{
							<div class="col-md-auto col-10 ts">
								<a asp-action="Details" asp-route-id="@Model[i].Id" class="card d-flex flex-row" data-animate="fadeInLeft" data-delay="200 * i">
									<img src="@Model[i].MainImageUrl" width="100" height="100" alt="Image" class="rounded-start">
									<div class="card-body px-4">
										<h4 class="mb-2 text-white fw-medium">@Model[i].Title</h4>
										<h4 class="mb-0 h6 text-white fw-normal font-body d-flex">$@Model[i].Price <i class="bi-arrow-right ms-auto"></i></h4>
									</div>
								</a>
							</div>
						}
					</div>
				</div>
				<div class="video-wrap no-placeholder">
					<video id="slide-video" poster="~/assets/customer/images/Slidebar/Slidebar.jpg" preload="auto" loop autoplay muted playsinline>
						<source src='~/assets/customer/images/Slidebar/3/slide_vdo.mp4' type='video/mp4'>
					</video>
					<div class="video-overlay" style="background-image: linear-gradient(to bottom, transparent, rgba(25, 53, 50, .9));"></div>
				</div>
			</div>
		</div>
		<div class="slider-arrow-left">
			<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="#FFF" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#FFF" stroke-miterlimit="10" stroke-width="12"></circle><polyline points="144 92 104 128 144 164" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polyline></svg>
		</div>
		<div class="slider-arrow-right">
			<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="#FFF" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="#FFF" stroke-miterlimit="10" stroke-width="12"></circle><polyline points="116 92 156 128 116 164" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polyline></svg>
		</div>
	</div>

</section>