@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Furnihuture</title>
	@if (SignInManager.IsSignedIn(User) && User.IsInRole(AppRoles.Admin))
	{
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap">
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link rel="stylesheet" href="~/assets/css/plugins.bundle.css" type="text/css" />
		<link rel="stylesheet" href="~/assets/css/style.bundle.css" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
		<link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
		@await RenderSectionAsync("Styles", required: false)
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/Furni.Web.styles.css" asp-append-version="true" />
	}
	else if (ViewData["isInIdentityArea"] == "Identity")
	{
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap">
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link rel="stylesheet" href="~/assets/css/plugins.bundle.css" type="text/css" />
		<link rel="stylesheet" href="~/assets/css/style.bundle.css" type="text/css" />
		@await RenderSectionAsync("Styles", required: false)
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/Furni.Web.styles.css" asp-append-version="true" />
	}
	else
	{
		<!-- Font Imports -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Zilla+Slab:wght@400;500&display=swap" rel="stylesheet">
		
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<!-- Core Style -->
		<link rel="stylesheet" href="~/assets/customer/css/style.css">
		<!-- Font Icons -->
		<link rel="stylesheet" href="~/assets/customer/css/font-icons.css">

		<!-- Plugins/Components CSS -->
		<link rel="stylesheet" href="~/assets/customer/css/swiper.css">

		<!-- Niche Demos -->
		<link rel="stylesheet" href="~/assets/customer/css/furniture.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="~/assets/customer/css/custom.css">

	}
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled mb-0 stretched">
    
	<!--begin::Main-->
	<!--begin::Root-->
	@if (SignInManager.IsSignedIn(User) && User.IsInRole(AppRoles.Admin))
	{
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--end::Theme mode setup on page load-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<partial name="_Aside" />
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					<partial name="_Header" />
					<!--begin::Container-->
					<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
					<div id="kt_content" class="content flex-row-fluid">
						@RenderBody()
					</div>
					</div>
					<!--end::Container-->
					<!--begin::Footer-->
					<div class="footer pb-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
			</div>


		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<i class="ki-duotone ki-arrow-up">
				<span class="path1"></span>
				<span class="path2"></span>
			</i>
		</div>
		<span id="Message" class="d-none">@TempData["Message"]</span>
		<partial name="_Modal" />
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="~/assets/js/plugins.bundle.js"></script>
		<script src="~/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<script src="~/lib/bootbox.js/bootbox.min.js"></script>
		@await RenderSectionAsync("Plugins", required: false)
		<script src="~/js/site.js" asp-append-version="true"></script>
		@await RenderSectionAsync("Scripts", required: false)

	}
	else if (ViewData["isInIdentityArea"] == "Identity")
	{
		@RenderBody()

		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="~/assets/js/plugins.bundle.js"></script>
		<script src="~/assets/js/scripts.bundle.js"></script>
		@await RenderSectionAsync("Plugins", required: false)

		@await RenderSectionAsync("Scripts", required: false)

	}
	else
	{
		@RenderBody()


		<!-- Scroll Top -->
		<div id="gotoTop" class="bg-color op-07 h-op-1">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFF" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polygon points="48 208 128 128 208 208 48 208" opacity="0.2"></polygon><polygon points="48 208 128 128 208 208 48 208" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon><polyline points="48 128 128 48 208 128" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
		</div>


		<!-- JavaScripts -->
		<script src="~/assets/customer/js/plugins.min.js"></script>
		<script src="~/assets/customer/js/functions.bundle.js"></script>

		@await RenderSectionAsync("Scripts", required: false)

	}
	<!--end::Root-->
	<!--end::Main-->
	
</body>
</html>
