@model ManagerUserViewModel
@inject IWebHostEnvironment WebHostEnvironment
@{
    ViewData["Title"] = "Profile";

    var avatarUrl = $"{WebHostEnvironment.WebRootPath}/images/users/{User.FindFirst(ClaimTypes.NameIdentifier)!.Value}.png";
    avatarUrl = System.IO.File.Exists(avatarUrl) ? $"/images/users/{User.FindFirst(ClaimTypes.NameIdentifier)!.Value}.png" :
                                                                       "/assets/images/avatar.png";
}



@section Styles {
    <style type="text/css">
      
        .account-settings .user-profile {
            margin: 0 0 1rem 0;
            padding-bottom: 1rem;
            text-align: center;
        }

            .account-settings .user-profile .user-avatar {
                margin: 0 0 1rem 0;
            }

                .account-settings .user-profile .user-avatar img {
                    width: 90px;
                    height: 90px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    border-radius: 100px;
                }


        .user-avatar {
            position: relative;
            display: inline-block;
        }

        .avatar-container {
            position: relative;
            width: 90px;
            height: 90px;
            overflow: hidden;
            border-radius: 100px;
        }

            .avatar-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100px;
            }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0; /* Hidden by default */
            transition: opacity 0.3s ease;
        }

            .overlay:hover {
                opacity: 1; /* Show overlay on hover */
            }

            .overlay label {
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                transition: transform 0.3s ease;
            }

                .overlay label:hover {
                    transform: scale(1.2); /* Scale up icon on hover */
                }

        .edit-icon {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .remove-icon {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }


            .account-settings .user-profile h5.user-name {
                margin: 0 0 0.5rem 0;
            }

            .account-settings .user-profile h6.user-email {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 400;
                color: #9fa8b9;
            }

        .account-settings .about {
            margin: 2rem 0 0 0;
            text-align: center;
        }

            .account-settings .about h5 {
                margin: 0 0 15px 0;
                color: #007ae1;
            }

            .account-settings .about p {
                font-size: 0.825rem;
            }

        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }

        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }

        .custom-margin-top-bottom {
            margin-top: 50px;
            margin-bottom: 50px;
        }


    </style>
}

<div class="container custom-margin-top-bottom">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <div class="avatar-container">
                                    <img src="@avatarUrl" alt="Avatar" id="avatar-image">
                                    <div class="overlay">
                                        <label for="avatar-upload" class="edit-icon"><i class="fas fa-pencil-alt"></i></label>
                                        <label class="remove-icon js-remove-avatar"><i class="fas fa-times"></i></label>
                                    </div>
                                </div>
                                <input type="file" id="avatar-upload" name="Avatar" accept=".png, .jpg, .jpeg" style="display: none;">
                                
                            </div>
                            <h5 class="user-name">@User.FindFirst(ClaimTypes.GivenName)!.Value</h5>
                            <h6 class="user-email"><a class="__cf_email__">@User.FindFirst(ClaimTypes.Email)!.Value</a></h6>
                        </div>

                        <div class="about">
                            <h5>About</h5>
                            <p>@Html.Raw(Model.About)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form id="manager-form" asp-action="Index" asp-controller="Manager" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" >
                        <input type="hidden" asp-for="ImageRemoved" />
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="FullName"></label>
                                    <input asp-for="FullName" class="form-control" placeholder="Enter full name">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div> 
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" placeholder="Enter email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control" placeholder="Enter user name">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Street"></label>
                                    <input asp-for="Street" class="form-control" placeholder="Enter Street">
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control" placeholder="Enter City">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="State"></label>
                                    <input asp-for="State" class="form-control" placeholder="Enter State">
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PostalCode"></label>
                                    <input asp-for="PostalCode" class="form-control" placeholder="Enter Zip Code">
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label asp-for="About"></label>
                                    <textarea asp-for="About" class="form-control" rows="5" placeholder="Enter something about yourself"></textarea>
                                    <span asp-validation-for="About" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="submit" id="submit-button" class="button button-small button-circle button-blue">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" /> *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Function to handle avatar removal
            document.querySelector('.remove-icon').addEventListener('click', function () {
                // Reset the avatar image source to the default image path
                document.getElementById('avatar-image').src = '/assets/images/avatar.png';
                // Clear the file input to allow re-uploading of the avatar
                document.getElementById('avatar-upload').value = '';
            });

            // Function to handle avatar upload
            document.getElementById('avatar-upload').addEventListener('change', function (event) {
                var file = event.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('avatar-image').src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });


            $('.js-remove-avatar').on('click', function () {
                $('#ImageRemoved').val(true);
            });
            // Initialize unobtrusive validation for the form
            $.validator.unobtrusive.parse('#manager-form');

            const submitButton = $("#submit-button");

            // Attach click event to the submit button
            submitButton.on("click", function (event) {
                event.preventDefault(); // Prevent default form submission

                // Get the form
                var form = $("#manager-form");

                // Check if the form is valid using jQuery validation
                if (form.valid()) {
                    // Disable button to prevent accidental double click
                    submitButton.prop("disabled", true);

                    // Prepare form data
                    var formData = new FormData(form[0]);

                    // Get the avatar file input element
                    var avatarFile = $("#avatar-upload")[0].files[0];

                    // Check if a file is selected
                    if (avatarFile) {
                        formData.append("Avatar", avatarFile);
                    }

                    // Submit form via AJAX
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Index", "Manager", new { area = "Customer" })",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                showSuccessMessage(response.message);
                            } else {
                                showErrorMessage(response.message);
                            }
                            submitButton.prop("disabled", false);
                        },
                        error: function (xhr, status, error) {
                            showErrorMessage("An error occurred: " + error);
                            submitButton.prop("disabled", false);
                        }
                    });
                }
            });
            


        });
    </script>
}
