@model ProductDetailsViewModel

@{
	ViewData["Title"] = "Product Details";
	var productNumber = Model?.Quantity == 1 ? "Last product" :
												Model?.Quantity <= 3 ? $"Only {Model?.Quantity} Stocks Available" :
															$"{Model?.Quantity} Stocks Available";



	var reviewData = new[]
	{
		new { label = "5", inner_label = Model.ReviewData.ContainsKey(5) ? Model.ReviewData[5].ToString() : "0", value = Model.ReviewData.ContainsKey(5) ? Model.ReviewData[5] : 0, color = "#88b131" },
		new { label = "4", inner_label = Model.ReviewData.ContainsKey(4) ? Model.ReviewData[4].ToString() : "0", value = Model.ReviewData.ContainsKey(4) ? Model.ReviewData[4] : 0, color = "#99cc00" },
		new { label = "3", inner_label = Model.ReviewData.ContainsKey(3) ? Model.ReviewData[3].ToString() : "0", value = Model.ReviewData.ContainsKey(3) ? Model.ReviewData[3] : 0, color = "#ffcf02" },
		new { label = "2", inner_label = Model.ReviewData.ContainsKey(2) ? Model.ReviewData[2].ToString() : "0", value = Model.ReviewData.ContainsKey(2) ? Model.ReviewData[2] : 0, color = "#ff9f02" },
		new { label = "1", inner_label = Model.ReviewData.ContainsKey(1) ? Model.ReviewData[1].ToString() : "0", value = Model.ReviewData.ContainsKey(1) ? Model.ReviewData[1] : 0, color = "#e17a69" }
    };
}

@section Styles {
	<link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />
}

<style>
	.horizontal-bar-graph {
		display: table;
		width: 100%;
		line-height: normal;
	}

	.horizontal-bar-graph-segment {
		display: table-row;
	}

	.horizontal-bar-graph-label {
		display: table-cell;
		border-right: 1px solid silver;
		text-align: right;
		padding: 4px 10px 4px 0;
		vertical-align: baseline;
		white-space: nowrap;
	}

	.horizontal-bar-graph-value {
		display: table-cell;
		padding: 3px 0;
		vertical-align: baseline;
		width: 100%;
	}

	.horizontal-bar-graph-value-bar {
		background: silver;
		-moz-box-sizing: padding-box;
		-webkit-box-sizing: padding-box;
		box-sizing: padding-box;
		padding: 4px 4px 3px;
		text-align: right;
		color: white;
		overflow: visible;
		display: inline-block;
		white-space: nowrap;
		-webkit-font-smoothing: antialiased;
	}

	.horizontal-bar-graph-segment:first-child .horizontal-bar-graph-label {
		padding-top: 12px;
	}

	.horizontal-bar-graph-segment:first-child .horizontal-bar-graph-value {
		padding-top: 11px;
	}

	.horizontal-bar-graph-segment:last-child .horizontal-bar-graph-label {
		padding-bottom: 12px;
	}

	.horizontal-bar-graph-segment:last-child .horizontal-bar-graph-value {
		padding-bottom: 11px;
	}

</style>

<div class="content-wrap py-0 overflow-visible indecator-loader">

	<div class="section bg-color dark overflow-visible mt-0">
		<div class="container">

			<!-- 1. Section
			============================================= -->
			<div class="single-product py-lg-3">

				<!-- Product
				============================================= -->
				<div class="product">

					<div class="row">

						<!-- Product Image
						============================================= -->
						<div class="col-md-6">
							<div class="row align-items-start gutter-30" data-lightbox="gallery">
								<!-- .align-items-center for mobile Bugs fixed -->
								@if (Model.ImageUrls is not null)
								{
									@foreach (var image in Model.ImageUrls)
									{
										<a href="@image" data-lightbox="gallery-item" class="col-sm-12 col-6"><img src="@image"></a>
									}
								}
							</div>
						</div>

						<!-- Product Description
						============================================= -->
						<div class="col-md-6 product-desc p-lg-5 px-4 py-0 mt-5 mt-md-0 content-sticky">

							<!-- Product Title
							============================================= -->
							<h2 class="mb-3 fw-normal text-white">@Model.Title</h2>

							<!-- Product Price
							============================================= -->

							<h3 class="h2 mb-5 fw-medium text-white"><del>$@Model.Price</del> $@Model.PriceAfterDiscount</h3>

							<!-- Product Single - Quantity & Cart Button
							============================================= -->
							<div id="addToCart" class="cart mb-0 d-flex align-items-center">
								<div class="quantity position-relative mb-3">
									<input type="hidden" name="productId" data-product-Id="@Model.Id" />
									<input type="button" value="-" class="minus">
									<input type="number" step="1" min="1" max="@Model.Quantity" name="count" value="1" title="Qty" class="qty">
									<input type="button" value="+" class="plus">
									<div class="clear"></div>
									<span class="stock-in">@productNumber</span>
									<span class="stock-out">Ooops! There is no more Stock</span>
								</div>
								<a href="javascript:;" class="js-add-product-to-cart add-to-cart button button-large fw-medium color button-light bg-white px-lg-4 add-to-cart m-0 mb-3">
									<i style="position: relative; top: -2px;">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--cnvs-themecolor)" viewBox="0 0 256 256">
											<rect width="256" height="256" fill="none"></rect>
											<path d="M62.54543,144H188.10132a16,16,0,0,0,15.74192-13.13783L216,64H48Z" opacity="0.2"></path>
											<path d="M184,184H69.81818L41.92162,30.56892A8,8,0,0,0,34.05066,24H16" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
											<circle cx="80" cy="204" r="20" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
											<circle cx="184" cy="204" r="20" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
											</circle>
											<path d="M62.54543,144H188.10132a16,16,0,0,0,15.74192-13.13783L216,64H48" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
										</svg>
									</i> Add to cart
								</a>
							</div><!-- Product Single - Quantity & Cart Button End -->
							<!-- Line
							============================================= -->
							<div class="line my-5"></div>

							<!-- Product Toggle - Overview
							============================================= -->
							<div class="pb-4 qv-toogle">
								<a href="#" class="font-primary d-flex align-items-center mb-0 text-white" data-bs-toggle="collapse" data-bs-target="#overview" aria-expanded="true" aria-controls="overview">
									Overview
									<i class="uil uil-plus ms-auto"></i>
									<i class="uil uil-minus ms-auto"></i>
								</a>
								<div class="collapse show" id="overview">
									@Html.Raw(Model.Description)
									<style>
										#overview p {
											color: white;
											opacity: 0.6;
											font-weight: normal;
											margin: 0.5rem 0;
										}
									</style>
								</div>
							</div>

							<!-- Product Toggle - Installation & Warrenty
							============================================= -->
							<div class="pb-4 qv-toogle">
								<a href="#" class="font-primary d-flex align-items-center mb-0 collapsed text-white" data-bs-toggle="collapse" data-bs-target="#installation" aria-expanded="false" aria-controls="installation">
									Installation &amp; Warrenty
									<i class="uil uil-plus ms-auto"></i>
									<i class="uil uil-minus ms-auto"></i>
								</a>
								<div class="collapse" id="installation">
									<p class="text-white op-06 fw-normal my-2">Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
								</div>
							</div>

							<!-- Product Toggle - Returns & Cancellations
							============================================= -->
							<div class="pb-4 qv-toogle">
								<a href="#" class="font-primary d-flex align-items-center mb-0 collapsed text-white" data-bs-toggle="collapse" data-bs-target="#return" aria-expanded="false" aria-controls="return">
									Returns &amp; Cancellations
									<i class="uil uil-plus ms-auto"></i>
									<i class="uil uil-minus ms-auto"></i>
								</a>
								<div class="collapse" id="return">
									<p class="text-white op-06 fw-normal my-2">Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div><!-- Section End -->

		</div>

	</div>

	<div class="section bg-transparent my-0 py-5">
		<div class="mw-sm mx-auto text-center px-4 px-md-0">
			<h2 class="fw-medium mb-3">How do We Install?</h2>
			<p class="op-07 px-md-5 mb-5">Seamlessly leverage existing adaptive supply chains without process-centric results. Efficiently incubate web-enabled materials without functional technologies.</p>
			<a href="https://www.youtube.com/watch?v=lWb_427hIl0" data-lightbox="iframe" class="d-flex flex-column justify-content-center align-items-center mb-2  h-scale-sm transform-ts rounded-xxxl" style="background: url('/assets/customer/images/video-poster.jpg') no-repeat center center / cover; min-height: 450px">
				<i class="uil uil-play h3 icon-stacked text-center rounded-circle ps-1 color bg-white"></i>
				<h4 class="mb-0 text-monospace fw-normal text-white" style="text-shadow: 1px 1px 1px #00000073">03:46</h4>
			</a>
		</div>
	</div>


	<div class="section custom-bg mb-0 py-6" style="--custom-bg: #eeeeee;">
		<div class="container py-lg-4">
			<div class="row col-mb-50">

				<div class="col-md-7">
					<div class="card card-review">
						<span class="title-review">Reviews</span>
						<div id="reviews-users">
							@foreach (var review in Model.Reviews)
							{
								<partial name="_ReviewRow" model="@review" />
							}
						</div>
						<div class="text-box">
							<partial name="_ReviewForm" model="new ReviewFormViewModel { ProductId = Model.Id }" />
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6">
							<div class="feature-box fbox-center fbox-dark fbox-plain justify-content-center rating-container">
								<center>
									<div style="font-size: 80px; margin-bottom: 10px; margin-top: 10px;">@Model.RatingAverage.ToString("0.0")</div>
									<div>
										@for (int i = 0; i < Math.Round(Model.RatingAverage); i++)
										{
											<span class="fa fa-star"></span>
										}
									</div>
									<div>
										<span class="fa fa-user"></span> @Model.TotalReview au total
									</div>
								</center>
							</div>
						</div>
						<div class="col-md-6">
							<div id="my-graph"></div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>





	<!-- 5. Section Fetured Boxes
	============================================= -->
	<div class="section custom-bg mb-0 py-6" style="--custom-bg: #fdf3e7;">
		<div class="container py-lg-4">
			<div class="row col-mb-50">

				<!-- feature-box 1 -->
				<div class="col-md-4">
					<div class="feature-box fbox-center fbox-dark fbox-plain">
						<div class="fbox-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--cnvs-themecolor)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M54.46089,201.53911c-9.204-9.204-3.09935-28.52745-7.78412-39.85C41.82037,149.95168,24,140.50492,24,127.99963,24,115.4945,41.82047,106.048,46.67683,94.31079c4.68477-11.32253-1.41993-30.6459,7.78406-39.8499s28.52746-3.09935,39.85-7.78412C106.04832,41.82037,115.49508,24,128.00037,24c12.50513,0,21.95163,17.82047,33.68884,22.67683,11.32253,4.68477,30.6459-1.41993,39.8499,7.78406s3.09935,28.52746,7.78412,39.85C214.17963,106.04832,232,115.49508,232,128.00037c0,12.50513-17.82047,21.95163-22.67683,33.68884-4.68477,11.32253,1.41993,30.6459-7.78406,39.8499s-28.52745,3.09935-39.85,7.78412C149.95168,214.17963,140.50492,232,127.99963,232c-12.50513,0-21.95163-17.82047-33.68884-22.67683C82.98826,204.6384,63.66489,210.7431,54.46089,201.53911Z" opacity="0.2"></path><path d="M54.46089,201.53911c-9.204-9.204-3.09935-28.52745-7.78412-39.85C41.82037,149.95168,24,140.50492,24,127.99963,24,115.4945,41.82047,106.048,46.67683,94.31079c4.68477-11.32253-1.41993-30.6459,7.78406-39.8499s28.52746-3.09935,39.85-7.78412C106.04832,41.82037,115.49508,24,128.00037,24c12.50513,0,21.95163,17.82047,33.68884,22.67683,11.32253,4.68477,30.6459-1.41993,39.8499,7.78406s3.09935,28.52746,7.78412,39.85C214.17963,106.04832,232,115.49508,232,128.00037c0,12.50513-17.82047,21.95163-22.67683,33.68884-4.68477,11.32253,1.41993,30.6459-7.78406,39.8499s-28.52745,3.09935-39.85,7.78412C149.95168,214.17963,140.50492,232,127.99963,232c-12.50513,0-21.95163-17.82047-33.68884-22.67683C82.98826,204.6384,63.66489,210.7431,54.46089,201.53911Z" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path><polyline points="172 104 113.333 160 84 132" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></polyline></svg>
						</div>
						<div class="fbox-content">
							<h2 class="text-transform-none fw-medium h4 mb-4">Original Quality</h2>
							<p class="op-06">Completely formulate top-line resources rather than cross-media portals cross-platform solutions.</p>
						</div>
					</div>
				</div>

				<!-- feature-box 2 -->
				<div class="col-md-4">
					<div class="feature-box fbox-center fbox-dark fbox-plain">
						<div class="fbox-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--cnvs-themecolor)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M176,144H16v40a8,8,0,0,0,8,8H44a24,24,0,0,1,48,0h72a23.99048,23.99048,0,0,1,11.99813-20.78815Z" opacity="0.2"></path><path d="M212,192a24.00631,24.00631,0,0,0-36.00187-20.78815L176,120h64v64a8,8,0,0,1-8,8H212" opacity="0.2"></path><path d="M240,120H176V80h42.58374a8,8,0,0,1,7.42781,5.02887Z" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path><line x1="16" y1="144" x2="176" y2="144" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line><circle cx="188" cy="192" r="24" fill="none" stroke="var(--cnvs-themecolor)" stroke-miterlimit="10" stroke-width="8"></circle><circle cx="68" cy="192" r="24" fill="none" stroke="var(--cnvs-themecolor)" stroke-miterlimit="10" stroke-width="8"></circle><line x1="164" y1="192" x2="92" y2="192" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line><path d="M44,192H24a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8H176V171.21508" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path><path d="M176,171.21508V120h64v64a8,8,0,0,1-8,8H212" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path></svg>
						</div>
						<div class="fbox-content">
							<h2 class="text-transform-none fw-medium h4 mb-4">Free & Fast Shipping</h2>
							<p class="op-06">Rapidiously optimize user-centric catalysts for change vis-a-vis granular "outside the box" thinking.</p>
						</div>
					</div>
				</div>

				<!-- feature-box 3 -->
				<div class="col-md-4">
					<div class="feature-box fbox-center fbox-dark fbox-plain">
						<div class="fbox-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--cnvs-themecolor)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M40,106.66667V48a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v58.66667c0,84.01533-71.306,111.85016-85.5438,116.57058a7.54755,7.54755,0,0,1-4.9124,0C111.306,218.51683,40,190.682,40,106.66667Z" opacity="0.2"></path><path d="M40,106.66667V48a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v58.66667c0,84.01533-71.306,111.85016-85.5438,116.57058a7.54755,7.54755,0,0,1-4.9124,0C111.306,218.51683,40,190.682,40,106.66667Z" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path><polyline points="172 96 113.333 152 84 124" fill="none" stroke="var(--cnvs-themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></polyline></svg>
						</div>
						<div class="fbox-content">
							<h2 class="text-transform-none fw-medium h4 mb-4">Secure Payment</h2>
							<p class="op-06">Continually recaptiualize 2.0 action items after global information. Efficiently strategize holistic networks.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Section End -->

</div>


@section Scripts {
	<script src="~/lib/d3/d3.v7.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>

	<script>

		// Function to load graph with initial review data
		function loadInitialGraph(reviewData) {
			var graph = new HorizontalBarGraph('#my-graph', reviewData);
			graph.draw();
		}

		$(document).ready(function () {

			function loadShopCarts(productId, count) {
				var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();

				if (!isAuthenticated) {
					var returnUrl = window.location.href;
					window.location.href = '@Url.Action("Login", "Account", new { area = "Identity", ReturnUrl = "__returnUrl__" })'.replace('__returnUrl__', returnUrl);
					return;
				}

				$.ajax({
					url: '@Url.Action("AddToCart", "Carts", new { area = "Customer" })',
					type: 'POST',
					data: {
						productId: productId,
						count: count,
						'__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
					},
					success: function (data) {
						showSuccessMessage();
					},
					error: function () {
						showErrorMessage();
					}
				});
			}

			


			$('body').on('click', '.js-add-product-to-cart', function () {
				var form = $(this).closest('.cart');
				var productId = form.find('input[name="productId"]').data('product-id');
				var count = form.find('input[name="count"]').val();
				loadShopCarts(productId, count);
			});

























		});


		HorizontalBarGraph = function (el, series) {
			this.el = d3.select(el);
			this.series = series;
		};

		HorizontalBarGraph.prototype.draw = function () {
			var x = d3.scale.linear()
				.domain([0, d3.max(this.series, function (d) {
					return d.value
				})])
				.range([0, 100]);

			var segment = this.el
				.selectAll(".horizontal-bar-graph-segment")
				.data(this.series)
				.enter()
				.append("div").classed("horizontal-bar-graph-segment", true);

			segment

				.append("span").classed(" fa fa-star horizontal-bar-graph-label", true)
				.text(function (d) {
					return d.label
				});

			segment
				.append("div").classed("horizontal-bar-graph-value", true)
				.append("div").classed("horizontal-bar-graph-value-bar", true)
				.style("background-color", function (d) {
					return d.color
				})
				.text(function (d) {
					return d.inner_label ? d.inner_label : ""
				})
				.transition()
				.duration(1000)
				.style("min-width", function (d) {
					return x(d.value) + "%"
				});

		};


		function addNewReview(){
			var formData = $('#reviewForm').serializeArray().reduce(function (obj, item) {
				obj[item.name] = item.value;
				return obj;
			}, {});

			// Add CSRF token to formData
			formData['__RequestVerificationToken'] = $('input[name="__RequestVerificationToken"]').val();


			$.ajax({
				type: 'POST',
				url: '@Url.Action("SubmitReview", "Reviews", new { area = "Customer" })',
				data: formData,
				success: function (data) {
					showSuccessMessage();
					$('#reviews-users').append(data);
					$('#reviewForm')[0].reset(); // Clear the form
				},
				error: function (xhr, status, error) {
					console.error('Error submitting review:', error);
				}
			});
		}


		// Function to update graph with new review data
		// function updateGraph(newReviewData) {
		// 	// Clear old graph elements
		// 	$('#my-graph').remove();
		// 	// Re-create the graph element
		// 	$('<div id="my-graph"></div>').appendTo('.col-md-6');

		// 	var graph = new HorizontalBarGraph('#my-graph', newReviewData);
		// 	graph.draw();
		// }

		// // Function to fetch updated review data from server
		// function getReviewData(id) {
		// 	$.ajax({
		// 		url: `/Customer/Reviews/GetReviewData/${id}`,
		// 		type: 'GET',
		// 		success: function (data) {
		// 			var newReviewData = data.reviewData;
		// 			// console.log(data.reviewData);
		// 			updateGraph(newReviewData); // Update graph with new data
		// 		},
		// 		error: function () {
		// 			alert('Error getting reviews.');
		// 		}
		// 	});
		// }


		document.addEventListener('DOMContentLoaded', function () {

			var initialReviewData = @Html.Raw(Json.Serialize(reviewData));
			loadInitialGraph(initialReviewData); // Draw graph with initial data

			// Your JavaScript/jQuery code here
			$('body').on('click', '.js-add-review', function (e) {
				e.preventDefault();
				addNewReview(); 
				// getReviewData(@Model.Id); // Update the graph with new data after adding review
			});

		});

	</script>
}