@model ShoppingCartViewModel

@{
    ViewData["Title"] = "CheckOut";
}


<div class="container mt-4">
    <div class="row col-mb-50 gutter-50">
        <div class="col-lg-6">
            <!-- Shipping Address Section -->
            <div id="UpdateShinppingAddress">
                <partial name="_ShippingAddress" model="@Model.Order" />
            </div>
            <!-- Billing Address Section -->


            <form id="ShoppingCartForm" asp-action="CheckOut" method="post">
                <input type="hidden" asp-for="@Model.ProductCards" />
                <input type="hidden" asp-for="@Model.TotalPrice" />
                <div>
                    <h3>Billing Address</h3>
                    <div class="col-md-12 form-group">
                        <label asp-for="@Model.Order.FullName">Full Name:</label>
                        <input type="text" asp-for="@Model.Order.FullName" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.FullName" class="text-danger d-block"></span>


                    <div class="w-100"></div>
                    <div class="col-12 form-group">
                        <label asp-for="@Model.Order.Address">Address:</label>
                        <input type="text" asp-for="@Model.Order.Address" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.Address" class="text-danger d-block"></span>


                    <div class="col-12 form-group">
                        <label asp-for="@Model.Order.City">City / Town</label>
                        <input type="text" asp-for="@Model.Order.City" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.City" class="text-danger d-block"></span>

                    <div class="col-12 form-group">
                        <label asp-for="@Model.Order.State">State</label>
                        <input type="text" asp-for="@Model.Order.State" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.State" class="text-danger d-block"></span>


                    <div class="col-md-12 form-group">
                        <label asp-for="@Model.Order.Email">Email Address:</label>
                        <input type="email" asp-for="@Model.Order.Email" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.Email" class="text-danger d-block"></span>


                    <div class="col-md-12 form-group">
                        <label asp-for="@Model.Order.PhoneNumber">Phone:</label>
                        <input type="text" asp-for="@Model.Order.PhoneNumber" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.PhoneNumber" class="text-danger d-block"></span>


                    <div class="col-md-12 form-group">
                        <label asp-for="@Model.Order.PostalCode">Postal Code:</label>
                        <input type="text" asp-for="@Model.Order.PostalCode" class="form-control">
                    </div>
                    <span asp-validation-for="@Model.Order.PostalCode" class="text-danger d-block"></span>

                </div>
            </form>


        </div>

        <div class="col-lg-6">
            <!-- Order Summary -->
            <h4>Your Orders</h4>
            <div class="table-responsive">
                <table class="table cart">
                    <thead>
                        <tr>
                            <th class="cart-product-thumbnail">&nbsp;</th>
                            <th class="cart-product-name">Product</th>
                            <th class="cart-product-quantity">Quantity</th>
                            <th class="cart-product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var card in Model.ProductCards)
                        {
                            <tr class="cart_item">
                                <td class="cart-product-thumbnail">
                                    <a href="#"><img width="64" height="64" src="@card.MainImageUrl" alt="@card.Title"></a>
                                </td>
                                <td class="cart-product-name">
                                    <a href="#">@card.Title</a>
                                </td>
                                <td class="cart-product-quantity">
                                    <a href="#">1x @card.Count</a>
                                </td>
                                <td class="cart-product-subtotal">
                                    <span class="amount">$@(card.Price * card.Count)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <!-- Cart Totals -->
            <h4>Cart Totals</h4>
            <div class="table-responsive">
                <table class="table cart">
                    <tbody>
                        <tr class="cart_item">
                            <td class="border-top-0 cart-product-name">
                                <strong>Cart Subtotal</strong>
                            </td>
                            <td class="border-top-0 cart-product-name">
                                <span class="amount">@Model.TotalPrice.ToString("0.00")</span>
                            </td>
                        </tr>
                        <tr class="cart_item">
                            <td class="cart-product-name">
                                <strong>Shipping</strong>
                            </td>
                            <td class="cart-product-name">
                                <span class="amount">Free Delivery</span>
                            </td>
                        </tr>
                        <tr class="cart_item">
                            <td class="cart-product-name">
                                <strong>Total</strong>
                            </td>
                            <td class="cart-product-name">
                                <span class="amount color lead"><strong>@Model.TotalPrice.ToString("0.00")</strong></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Payment Options Accordion -->
            <div class="accordion">
                <!-- Accordion items for different payment options -->
                <!-- Example: Direct Bank Transfer, Cheque Payment, Paypal -->
                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed uil uil-minus"></i>
                        <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">
                        Direct Bank Transfer
                    </div>
                </div>
                <div class="accordion-content" style="display: none;">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
                <div class="accordion-header">
                    <div class="accordion-icon">
                        <i class="accordion-closed uil uil-minus"></i>
                        <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">
                        Cheque Payment
                    </div>
                </div>
                <div class="accordion-content" style="display: none;">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</div>
                <div class="accordion-header accordion-active">
                    <div class="accordion-icon">
                        <i class="accordion-closed uil uil-minus"></i>
                        <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">
                        Paypal
                    </div>
                </div>
                <div class="accordion-content" style="display: block;">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>
            </div>

            <!-- Place Order Button -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="button button-3d" form="ShoppingCartForm">Place Order</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    

    <script>

        function updateShinppingAddress() {
            var formData = $('#shipping-form').serialize(); // Serialize all form fields
            formData['__RequestVerificationToken'] = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: '/Customer/Orders/UpdateShipingAddress',
                type: 'POST',
                data: formData,
                success: function (data) {
                    $('#UpdateShinppingAddress').html(data);
                    showSuccessMessage();
                },
                error: function () {
                    showErrorMessage();
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Your JavaScript/jQuery code here
            $('body').on('click', '.js-update-shiping-address', function (e) {
                e.preventDefault();
                updateShinppingAddress();
            });
            
        });


    </script>
}
